.color-container {
  display: flex;
  gap: 8px;
  padding: 5px;
  justify-content: center;
}

.color-div {
  min-width: 20px;
  min-height: 20px;
  content: "";
  border-radius: 50%;
  transition: all 0.5s;
}

.color-div:hover {
  cursor: pointer;
  outline: 1px solid white;
  transform: scale(1.2);
}
