.note-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.note-container {
  border-radius: 10px;
  border: 1px solid white;
  width: 350px;
  display: flex;
  flex-direction: column;
}

.note {
  background-color: transparent;
  border: none;
  font-weight: bold;
}

.note:focus {
  border: none;
  outline: none;
}
